.body-register{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white(152, 147, 147);
  
}

.box{
  display: flex;
  flex-direction: column;
  background-color:rgb(255, 255, 255);
  gap: 20px;
  padding: 0px;
  width: 90%; 
  max-width: 600px; 
  box-shadow: 2px 2px 5px,-2px -2px 5px;
}


.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem; 
  gap: 20px;
  padding: 20px;
  width: auto;
  text-align: center; 
}

.login{
  color:black;
  font-weight: 700;
}

.underline{
  height: 10px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%; 
  box-sizing: border-box; 
}

.input{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 60px;
  width: 100%; 
  max-width: 400px; 
  margin-top: 25px;
  border-radius: 10px;
  background-color: aliceblue;
  box-sizing: border-box;
}

.input input{
  height: 55px;
  width: 100%; 
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 10px;
  text-align: center;
  background-color: aliceblue;
  box-sizing: border-box; 
}

.register{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1rem; 
  font-weight: 500;
  color: black;
}

.register1{
  text-decoration: underline;
  cursor: pointer;
}

.submit{
  margin-top: 20px;
  height: 50px;
  width: 120px;
  border-radius: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.submit button{
  cursor: pointer;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  font-size: 1rem;
  color: rgb(250, 252, 255);
  background-color: black;
  display: flex; 
  justify-content: center; 
  align-items: center;
  box-sizing: border-box; 
}

.submit button:hover{
  background-color: rgb(66, 61, 71);
}

.icon{
  margin-left: 20px;
  font-size: 25px;
}


@media (max-width: 768px) {
  .header {
      font-size: 1.75rem;
  }

  .input {
      height: 50px;
      max-width: 300px;
  }

  .input input {
      height: 45px;
      font-size: 1rem;
  }

  .submit button {
      font-size: 1rem;
      height: 45px;
      width: 100px;
  }
}

@media (max-width: 480px) {
  .header {
      font-size: 1.5rem;
  }

  .input {
      height: 45px;
      max-width: 250px;
  }

  .input input {
      height: 40px;
      font-size: 0.875rem;
  }

  .submit button {
      font-size: 0.875rem;
      height: 40px;
      width: 90px;
  }
}
